:root {
  --darkbackground: #1F2937;
  --heromaintext: #F9FAF8;
  --herosecondarytext: #E5E7EB;
  --buttoncolor: #3882F6;
  --informationtext: #1F29E7;
  --quotetext: #1F2937;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
}

/* menu */

a {
  text-decoration: none;
  color: var(--herosecondarytext);
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;

}

.navbar {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 0 0.5rem;
}

.navbar h1 {
  color: var(--heromaintext);
  font-size: 24px;
}

/* header */

.header {
    background-color: var(--darkbackground);
}

.header-content {
  display: flex;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.header-text h2 {
  color: var(--heromaintext);
  font-size: 48px;
  font-weight: 900;
}

.header-text p {
  color: var(--herosecondarytext);
  font-size: 18px;
}

button {
  background-color: var(--buttoncolor);
  color: var(--herosecondarytext);
}
